<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <!-- web IM -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- im mina server 启动 -->
    <listener>
        <listener-class>com.dfjq.pojo.im.listener.ImInitListener</listener-class>
    </listener>

    <!-- apache fileUpload cleanup -->
    <listener>
        <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
    </listener>

    <!-- ====================================== -->
    <servlet>
        <description>添加群组</description>
        <servlet-name>modifyGroup</servlet-name>
        <servlet-class>com.dfjq.pojo.im.servlet.ModifyGroupServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>modifyGroup</servlet-name>
        <url-pattern>/im/modifygroup</url-pattern>
    </servlet-mapping>

    <!-- ====================================== -->

    <servlet>
        <description>按uid查找群组</description>
        <servlet-name>getGroupsByUid</servlet-name>
        <servlet-class>com.dfjq.pojo.im.servlet.GetGroupsByUidServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getGroupsByUid</servlet-name>
        <url-pattern>/im/getgroupsbyuid</url-pattern>
    </servlet-mapping>

    <!-- ====================================== -->

    <servlet>
        <description>按gid查找群组</description>
        <servlet-name>getGroupByGid</servlet-name>
        <servlet-class>com.dfjq.pojo.im.servlet.GetGroupByGidServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getGroupByGid</servlet-name>
        <url-pattern>/im/getgroupbygid</url-pattern>
    </servlet-mapping>

    <!-- ====================================== -->

    <servlet>
        <description>删除群组</description>
        <servlet-name>deleteGroup</servlet-name>
        <servlet-class>com.dfjq.pojo.im.servlet.DeleteGroupServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteGroup</servlet-name>
        <url-pattern>/im/deletegroup</url-pattern>
    </servlet-mapping>

    <!-- ====================================== -->

    <servlet>
        <description>表单文件上传</description>
        <servlet-name>fileuploadform</servlet-name>
        <servlet-class>com.dfjq.pojo.im.servlet.FileUploadFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>fileuploadform</servlet-name>
        <url-pattern>/im/fileuploadform</url-pattern>
    </servlet-mapping>

    <!-- ====================================== -->

    <servlet>
        <description>拖拽文件上传</description>
        <servlet-name>fileuploaddd</servlet-name>
        <servlet-class>com.dfjq.pojo.im.servlet.FileUploadDDServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>fileuploaddd</servlet-name>
        <url-pattern>/im/fileuploaddd</url-pattern>
    </servlet-mapping>

</web-app>