<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <!-- web IM -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- im mina server 启动 -->
    <listener>
        <listener-class>com.dfjq.pojo.im.listener.ImInitListener</listener-class>
    </listener>

    <!-- apache fileUpload cleanup -->
    <listener>
        <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
    </listener>

    <!-- ====================================== -->

    <servlet>
        <description>添加群组</description>
        <servlet-name>modifyGroup</servlet-name>
        <servlet-class>com.dfjq.pojo.im.servlet.GroupModifyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>modifyGroup</servlet-name>
        <url-pattern>/im/modifygroup</url-pattern>
    </servlet-mapping>

    <!-- ====================================== -->

    <servlet>
        <description>按uid查找群组</description>
        <servlet-name>getGroupsByUid</servlet-name>
        <servlet-class>com.dfjq.pojo.im.servlet.GroupGetByUidServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getGroupsByUid</servlet-name>
        <url-pattern>/im/getgroupsbyuid</url-pattern>
    </servlet-mapping>

    <!-- ====================================== -->

    <servlet>
        <description>按gid查找群组</description>
        <servlet-name>getGroupByGid</servlet-name>
        <servlet-class>com.dfjq.pojo.im.servlet.GroupGetByGidServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getGroupByGid</servlet-name>
        <url-pattern>/im/getgroupbygid</url-pattern>
    </servlet-mapping>

    <!-- ====================================== -->

    <servlet>
        <description>删除群组</description>
        <servlet-name>deleteGroup</servlet-name>
        <servlet-class>com.dfjq.pojo.im.servlet.GroupDeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteGroup</servlet-name>
        <url-pattern>/im/deletegroup</url-pattern>
    </servlet-mapping>

    <!-- ====================================== -->

    <servlet>
        <description>表单文件上传</description>
        <servlet-name>fileUploadForm</servlet-name>
        <servlet-class>com.dfjq.pojo.im.servlet.FileUploadFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>fileUploadForm</servlet-name>
        <url-pattern>/im/fileuploadform</url-pattern>
    </servlet-mapping>

    <!-- ====================================== -->

    <servlet>
        <description>拖拽文件上传</description>
        <servlet-name>fileUploadDD</servlet-name>
        <servlet-class>com.dfjq.pojo.im.servlet.FileUploadDDServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>fileUploadDD</servlet-name>
        <url-pattern>/im/fileuploaddd</url-pattern>
    </servlet-mapping>

    <!-- ====================================== -->

    <servlet>
        <description>文件下载</description>
        <servlet-name>fileDownload</servlet-name>
        <servlet-class>com.dfjq.pojo.im.servlet.FileDownloadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>fileDownload</servlet-name>
        <url-pattern>/im/filedownload</url-pattern>
    </servlet-mapping>

    <!-- ====================================== -->

    <servlet>
        <description>添加离线消息</description>
        <servlet-name>offlineMessageAdd</servlet-name>
        <servlet-class>com.dfjq.pojo.im.servlet.OfflineMessageAddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>offlineMessageAdd</servlet-name>
        <url-pattern>/im/offlinemessageadd</url-pattern>
    </servlet-mapping>

    <!-- ====================================== -->

    <servlet>
        <description>按uid查找离线消息</description>
        <servlet-name>offlineMessageGetByUid</servlet-name>
        <servlet-class>com.dfjq.pojo.im.servlet.OfflineMessageGetByUidServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>offlineMessageGetByUid</servlet-name>
        <url-pattern>/im/offlinemessagegetbyuid</url-pattern>
    </servlet-mapping>

    <!-- ====================================== -->

    <servlet>
        <description>删除离线消息</description>
        <servlet-name>OfflineMessageDelete</servlet-name>
        <servlet-class>com.dfjq.pojo.im.servlet.OfflineMessageDeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OfflineMessageDelete</servlet-name>
        <url-pattern>/im/offlinemessagedelete</url-pattern>
    </servlet-mapping>

</web-app>