@charset "utf-8";

/* 表情列表 */

.im_facePanel {
    background: none repeat scroll 0 0 white;
    border-color: #cccccc #6a6a6a #666666 #cdcdcd;
    border-style: solid;
    border-width: 1px;
    bottom: 140px;
    display: none;
    height: 244px;
    overflow: hidden;
    position: absolute;
    width: 480px;
    z-index: 6800;
}

.im_default_facePanel {
    display: none;
    height: 204px;
    margin: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 470px;
}

.im_default_facePanel ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.im_default_facePanel ul li {
    cursor: pointer;
    float: left;
    list-style: none outside none;
    margin: 2px 3px;
    border: 1px solid #cccccc;
}

.im_default_facePanel a img {
    border: 0;
}

.im_facePanel_tab_area {
    background: none repeat scroll 0 0 #d6e9f8;
    height: 30px;
    overflow: hidden;
    padding: 0 0 0 5px;
}

.im_facePanel_tab_area a {
    cursor: pointer;
    display: block;
    float: left;
    height: 14px;
    line-height: 16px;
    margin: 0 1px;
    overflow: hidden;
    padding: 5px 10px;
    font-size: 13px;
    color: #999;
}

.im_facePanel_tab_area a.current {
    background: none repeat scroll 0 0 white;
    border-bottom: 2px solid green;
    color: #333;
}

.im_facePanel_tab_area a:hover {
    background: none repeat scroll 0 0 white;
    border-bottom: 2px solid #cc0066;
    color: #666;
}
