@charset "utf-8";

@import "im_window.css";
@import "im_title.css";
@import "im_body.css";
@import "im_body_list.css";
@import "im_chat.css";
@import "im_group.css";
@import "im_dialog.css";

body {
    font-family: \5FAE\8F6F\96C5\9ED1, \4EFF\5B8B; /* 微软雅黑,仿宋 */
}

#im_button {
    bottom: 0;
    right: 0;
    height: 32px;
    margin: 0;
    position: absolute;
    width: 32px;
    z-index: 10 !important;
    cursor: pointer;
}

/* 消息提醒 */
#hasMessage, #hasAttention, #hasWarning {
    background: #2ea125;
    color: #fff;
    text-shadow: 1px 1px #1b6116;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 10px;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    opacity: 0.75;
    filter: alpha(opacity=75);
}

#hasWarning {
    background: #ff0033;
    opacity: 0.95;
    filter: alpha(opacity=95);
}

#hasAttention {
    background: #ffff33;
    opacity: 0.95;
    filter: alpha(opacity=95);
    color: #999966;
}

#hasMessage a, #hasWarning a {
    color: #fff;
}

#hasMessage a:hover, #hasWaining a:hover {
    border-bottom: 1px solid #fff;
}

#hasMessage span {
    display: block;
}

/* 默认背景 */
.backgroundColor {
    background-color: #cce2ef;
}

/* 默认border */
.borderfocus {
    border: 1px solid #555577;
    box-shadow: 0 0 8px #999999;
}
